

   #link1{

   	float: left;
   	/*background: #C0C0C0;*/
   	font-size: 100%;

       margin-left: 30px;
       margin-top: 30px;
   	margin-bottom: 30px;
   }
bs{
           margin-left: -440px;
    margin-right: 260px;



}
h1{
    margin-left: 800px;
    color:   goldenrod;
}
 a:link {
  color: firebrick;
}
a:visited {
  color: red;
}
a:hover {
  color: aqua;
}
a:active {
  color: aqua;
  border-bottom: 1px dashed;
}


#content {

    margin-top: 30px;
    float: top  ;
 margin-left: 100px; /* Отступ справа */
 margin-right: 160px; /* Отступ справа */
 padding: 50px; /* Отступы внутри правого блока */
 background: azure; /* Цвет фона правого блока */
 }
#content2 {
 width: 200px;
    float: left  ;
    margin-top: 65px;
    margin-left: 100px; /* Отступ справа */
 margin-right: 100px; /* Отступ справа */
    padding: 20px; /* Отступы внутри правого блока */
 background: skyblue; /* Цвет фона правого блока */

}