{% load static %}
<link rel="stylesheet" href="{% static 'css/style_button3.css' %}">

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="">
<meta charset="UTF-8">

<title>Пост</title>
<body>

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">




                        <h2>{{ post.title }}</h2>

                </div>

            {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                    {% endif %}
                    <p></p>



                    {% if user.is_authenticated and user == post.author %}
                        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                                class="glyphicon glyphicon-pencil"></span></a>

                        <a class="btn btn-default" href="#win2"><span
                                class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}

                    <a class="btn btn-default" href="{% url 'start_page' %}"><span
                            class="glyphicon glyphicon-home"></span>  </a>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-responsive" width="640"/>
                        {% endif %}

                        <style>
                            h2 {
                                font-family: "Roboto", sans-serif;
                            }


                        </style>

                        <br></br>

                        <p><strong>{{ post.text|linebreaksbr }} </strong></p>

                        {% if post.video_url != "link" %}
                            <p>
                                <iframe width="640" height="360" src={{ post.video_url }} frameborder="0"
                                        allowfullscreen></iframe>
                            </p>
                        {% endif %}

                        {% if post.file %}
                            <div><a id="link1" href="{{ post.file.url }}" }}> <strong><p> {{ post.file }} </p></strong>
                            </a></div>
                        {% endif %}



                    <br>
                    {% if user.is_authenticated %}
                    <span class="tags">Оценка: {{ post.rating }}</span>
                    {% endif %}
                    <span class="tags">Автор: {{ author }}</span>


                    <br></br>

                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter1' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                1
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter2' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                2
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter3' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                3
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter4' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                4
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter5' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                5
                            </div>
                        </a>
                    </div>

                    <div id="menuBall4" class="menuBall">

                        <a href="{% url 'rating_enter6' pk=post.pk %}" class="ball yellowball">

                            <div class="menuText">
                                6
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter7' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                7
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter8' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                8
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter9' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                9
                            </div>
                        </a>
                    </div>
                    <div id="menuBall4" class="menuBall">
                        <a href="{% url 'rating_enter10' pk=post.pk %}" class="ball yellowball">
                            <div class="menuText">
                                10
                            </div>
                        </a>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>
        <h4>Комменты </h4>
 {% for post1 in coms %}
<div class="box"><div class="one">
     <kbd>{{ post1.author_name }}</kbd>
     <p></p>

     {{ post1.text }}

     <p></p>

</div></div>
    <p>
            {% endfor %}

            {% if user.is_authenticated %}
    <form action="{% url 'comment_new' pk=post.pk %}" method="POST" >{% csrf_token %}
        <p><b>Введите ваш комментарий:</b></p>
        <p><textarea rows="10" cols="45" name="text"></textarea></p>
        <p><input type="submit" value="Отправить"></p>

    </form>
            {% endif %}
                <div class="col-xs-12 col-sm-4 text-center">



                    <style>


                        @import url(http://fonts.googleapis.com/css?family=Lato:400,700);

                        body {
                            font-family: "Roboto", sans-serif;
                            background: #65aadd
                        }

                        .profile {
                            min-height: 640px;
                            display: inline-block;
                        }

                        span.tags {
                            background: #65aadd;
                            border-radius: 8px;
                            color: #f5f5f5;
                            font-family: "Roboto", sans-serif;
                            font-weight: bold;
                            padding: 2px 4px;
                        }


                    </style>


</body>
</html>

<script type="text/javascript">(function() {
if (window.pluso)if (typeof window.pluso.start == "function") return;
if (window.ifpluso==undefined) { window.ifpluso = 1;
var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
var h=d[g]('body')[0];
h.appendChild(s);
}})();</script>
<div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter"></div>
<!— Ссылки на вызов модальных окон-->


<!— Модальное окно №1 —>
<a href="#x" class="overlay" id="win1"></a>
<div class="popup">

<b> Подтвердить выставление оценки</b>
    <a class="btn btn-default" href="{% url 'rating_enter6' pk=post.pk %}"><span
                                class="glyphicon glyphicon-Ok"></span></a>

<a class="close"title="Закрыть" href="#close"></a>
</div>
<!— Модальное окно №2 —>
<a href="#x" class="overlay" id="win2"></a>
<div class="popup">

<b> Подтвердить удаление поста </b>
    &nbsp;&nbsp;<a class="btn btn-default" href="{% url 'remove_post' pk=post.pk %}"><span
                                class="glyphicon glyphicon-trash"></span></a>

<a class="close"title="Закрыть" href="#close"></a>
</div>
<style>
/* Базовые стили слоя, затемнения и модального окна */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10;
display: none;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.65);
position: fixed; /* фиксированное позиционирование */
cursor: default; /* тип курсора */
}

/* активируем слой затемнения */
.overlay:target {
display: block;
}

/* стили модального окна */
.popup {
top: -100%;
right: 0;
left: 50%;
font-size: 14px;
z-index: 20;
margin: 0;
width: 85%;
min-width: 320px;
max-width: 400px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
background: #fefefe;
/* скругление углов */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
-webkit-transform: translate(-50%, -500%);
-ms-transform: translate(-50%, -500%);
-o-transform: translate(-50%, -500%);
transform: translate(-50%, -500%);
-webkit-transition: -webkit-transform 0.6s ease-out;
-moz-transition: -moz-transform 0.6s ease-out;
-o-transition: -o-transform 0.6s ease-out;
transition: transform 0.6s ease-out;
}

/* активируем модальный блок */
.overlay:target+.popup {
-webkit-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
-o-transform: translate(-50%, 0);
transform: translate(-50%, 0);
top: 20%;
}

/* формируем кнопку закрытия */
.close {
top: -10px;
right: -10px;
width: 20px;
height: 20px;
position: absolute;
padding: 0;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font: 13px/20px 'Tahoma', Arial, sans-serif;
font-weight: bold;
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}

.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}

.close:hover {
background-color: rgba(252, 20, 0, 0.8);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}



{#Rjvvtynfhbq#}

kbd {font-size: 0.9em;display:inline-block;line-height:1.1;}

.box {
  width: 50%;

  position: relative;
}
div, h2, img {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}


div {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.one {
  border: 5px solid transparent;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.one {
  background-color: #b8daff;
}
.one:hover {
  border: 5px solid #b2b1b1;
  background-color: #b2e6f8;
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 100% 20px;
}
