{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style1.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Post Profile</title>
</head>
<body>
    <h1>New post</h1>
    <form method="POST"  enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <a></a>
        <button type="submit" class="save btn btn-default">Save</button>

    </form>
    <h1><a  class="btn btn-default" href="{% url 'start_page'  %}"><span class="glyphicon glyphicon-home"></span> Start Page </a></h1>
</body>
</html>