{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <meta charset="UTF-8">

<title>Профиль</title>
<body>

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">

                    <div class="post">

                        <h3>Профиль</h3>
    <form method="POST"  enctype="multipart/form-data" class="post-form">{% csrf_token %}
        {% if user.is_authenticated %}
            {{ form.as_p }}

            <a></a>
            <button type="submit" class="save btn btn-default">Save</button>
        {% else %}
            <h2> You are not log in</h2>
        {% endif %}

    </form>
    <h1><a  class="btn btn-default" href="{% url 'start_page'  %}"><span class="glyphicon glyphicon-home"></span> Start Page </a></h1>
</body>
</html>


<style>


    @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
font-family: "Roboto", sans-serif;
background:#65aadd
}
.profile
{
min-height: 640px;
display: inline-block;
}





</style>