{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Сайт по истории кино</title>
       <style>
   body {
        background-image: url({% static 'fon.jpg' %});


   }
  </style>
  <style type="text/css">
  </style>
 </head>
 <body>
        <h1> This is the Start Page </h1>

        {% if not user.is_authenticated %}
            <a  class="btn btn-default" href="{% url 'login'  %}"><span class="glyphicon glyphicon-log-in "></span> Login </a>
            <a  class="btn btn-default" href="{% url 'register'  %}"><span class="glyphicon glyphicon-ok"></span> Registration </a>


        {% else %}
            <a  class="btn btn-default" href="{% url 'profile'  %}"><span class="glyphicon glyphicon-user "></span> {{  user.username}} </a>
            <a  class="btn btn-default" href="{% url 'logout'  %}"><span class="glyphicon glyphicon-log-out"></span> Logout </a>


        {% endif %}


        <div id = "content2">
  		<div> <a id = "link1" href = "http://127.0.0.1:8000/">  Основная страница    </a>	 </div>
  		<div> <a id = "link1" href = "https://vk.com/uspenskiys17b1"> Страница курса   </a>	 </div>
  		<div> <a id = "link1" href = "https://vk.com/uspenskiys17b1"> Ссылка на литературу   </a>	 </div>
  		<div> <a id = "link1" href = "https://vk.com/regnerische_stadt"> Еще одна ссылка   </a>	 </div>

  		<div> <a id = "link1" href = "https://vk.com/uspenskiys17b1"> Еще одна ссылка   </a>	 </div>
  		<div> <a id = "link1" href = "https://vk.com/uspenskiys17b1"> Еще одна ссылка   </a>	 </div>
  		<div> <a id = "link1" href = "https://vk.com/uspenskiys17b1"> Еще одна ссылка   </a>	 </div>

        <div> <a id = "link1" href = {% static 'vova.jpg' %}> Vova </a>  </div>
        </div>

 <div id = "content">

     {% if  user.is_authenticated %}
         <a  class="btn btn-default" href="{% url 'start_page'  %}"><span class="glyphicon glyphicon-plus"></span> Add Post </a>
            <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/register">
                Dropdown <span class="caret"></span>
            </a>


            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                ...
            </ul>
            </div>
     {% endif %}
 <h2>Тут просто текст....</h2>


<p>

Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ.
Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ.
Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ. Вот бы не слить экзы в ВШЭ.

</p>
</div>




 </body>
</html>